{
    "SYMBOL": "NZDUSD",
    "TIMEFRAME": "M15",
    "MAGIC_NUMBER": 1715283,
    "MIN_HOLD_INTERVAL": 5000,
    "MAX_HOLD_INTERVAL": 60000,
    "MAX_DRAWDOWN": 0.08,
    "MIN_RISK": 0.0025,
    "MAX_RISK": 0.010,
    "AVG_PROFIT_TARGET": 15.87,
    "SL_PIPS": 20,
    "RISK_REWARD_RATIO": 1.5,
    "ASIAN_SESSION_START": 0,
    "ASIAN_SESSION_END": 8,
    "MAX_SPREAD_PIPS": 3.0,
    "FRIDAY_CLOSE_HOUR": 20,
    "GRACE_PERIOD_TICKS": 5000,
    "TELEGRAM_BOT_TOKEN": "8674379745:AAGUQgJuWsePHZpdoubtHZEN9INJOPCcLmk",
    "TELEGRAM_CHAT_ID": "1165754178"
}
